body {
	background-color: #f2f2f2;
}.music {
	display: none;
}

/*bonus meme do kira*/
.killerbot {
	font-size: 110px;
	font-family: Impact;
	color: #ffffff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000000;
	position:absolute;
	width:100%;
	bottom:0;
	text-align:center;
}

.killertop {
	font-size: 110px;
	font-family: Impact;
	color: #ffffff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000000;
	position:absolute;
	width:100%;
	top: :0;
	text-align:center;
}

body, html {
	height: 100%;
}

.bg {
	/*imagem usada*/
	background-image: url("ohno.jpg");

	/*full height*/
	height: 100%;

	/*centrar e escalar a imagem*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}